<template name="dashboard">
  <center><h1>Dashboard</h1></center>
  <h4>Jobs</h4>
  <table class="table table-condensed">
    <tbody>
      <tr><td><strong>Open:</strong></td><td>{{jobOpen}}</td></tr>
      <tr><td><strong>Downloading:</strong></td><td>{{jobDownloading}}</td></tr>
      <tr><td><strong>Ready:</strong></td><td>{{jobReady}}</td></tr>
      <tr><td><strong>Complete:</strong></td><td>{{jobComplete}}</td></tr>
      <tr><td><strong>Total:</strong></td><td>{{jobTotal}}</td></tr>
    </tbody>
  </table>
  {{> mdCloudGoogleloginButtonsBig}}
</template>