.mdbusy{
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20px 0 0 -50px;
}
.mdbusy span{
  transition: all 500ms ease;
  background: #4A72DA;
  box-shadow: 1px 2px 3px #999;
  height: 10px;
  width: 10px;  
  display: inline-block;
  border-radius: 10px;
  animation: wave 2s ease  infinite;
}  

.mdbusy span:nth-child(1){  animation-delay: 0; }
.mdbusy span:nth-child(2){  animation-delay: 100ms; }
.mdbusy span:nth-child(3){  animation-delay: 200ms; }
.mdbusy span:nth-child(4){  animation-delay: 300ms; }
.mdbusy span:nth-child(5){  animation-delay: 400ms; }
.mdbusy span:nth-child(6){  animation-delay: 500ms; }
.mdbusy span:nth-child(7){  animation-delay: 600ms; }
.mdbusy span:nth-child(8){  animation-delay: 700ms; }

@keyframes wave{
  0%, 40%, 100% { 
    transform: translate(0, 0);
    background-color: #4A72DA;    
  }
  10% { 
    transform: translate(0, -15px); 
    background-color: red;    
  }  
}